#dir to ignore
skymodel/sm-01_mod1


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*/*/SkyM_*.fits

./skysub/skymodels/SkyM_*.fits
*/SkyM_*.fits
palace
Spectre_HR_LATMOS_Meftah_V1_350_1000nm.txt
sky_decomp_results_*.fits
lvmsframe_*
*.dat
*.npz
!skysub/sky_decomp/data/Spectre_HR_LATMOS_Meftah_V1_350_1000nm.txt
!skysub/sky_decomp/data/moon_zodi/eso_skycalc_rolo_moon_albedo.dat
!skysub/sky_decomp/data/moon_zodi/eso_skycalc_leinert_zodiacal_light.dat
!skysub/sky_decomp/data/moon_zodi/meftah_solar_hrs_disk_integrated_v1_1_vacuum_velocity_step_2kms.npz
!skysub/sky_decomp/data/palace/
!skysub/sky_decomp/data/palace/PMD/
!skysub/sky_decomp/data/palace/PMD/pmd_intdata_atom.dat
!skysub/sky_decomp/data/palace/PMD/pmd_intmodel_Orc.dat
!skysub/sky_decomp/data/palace/PMD/pmd_popmodel_O2.dat
!skysub/sky_decomp/data/palace/PMD/pmd_popmodel_OH_joint_v2_updated.dat
!skysub/sky_decomp/data/palace/PMD/pmd_refcont_joint_native_adam_invsky_p2_10000iter.dat
!skysub/sky_decomp/tests/data/moon_zodi_predictor_reference_v1.npz
.DS_Store
*.cpython-*.pyc
.vscode/
Kp*.txt
